# Imports

In [149]:
import pandas as pd

# Loading in data

In [150]:
raw = pd.read_pickle('data/CoinGecko_top1k.pkl')
raw

                PEPE                    VNST                   FDUSD  \
               price        volume     price        volume     price
Date
2018-01-01       NaN           NaN       NaN           NaN       NaN
2018-01-02       NaN           NaN       NaN           NaN       NaN
2018-01-03       NaN           NaN       NaN           NaN       NaN
2018-01-04       NaN           NaN       NaN           NaN       NaN
2018-01-05       NaN           NaN       NaN           NaN       NaN
...              ...           ...       ...           ...       ...
2024-08-12  0.000008  8.861322e+08  0.000039  1.437644e+09  0.996505
2024-08-13  0.000008  1.169279e+09  0.000039  3.349172e+09  0.995392
2024-08-14  0.000008  6.955896e+08  0.000039  2.124233e+09  1.001738
2024-08-15  0.000008  7.340794e+08  0.000039  2.145052e+09  0.999545
2024-08-16  0.000007  8.609155e+08  0.000039  2.607516e+09  0.998683

                                 SOL                        ETH                \
                  volume       price        volume        price        volume
Date
2018-01-01           NaN         NaN           NaN          NaN           NaN
2018-01-02           NaN         NaN           NaN          NaN           NaN
2018-01-03           NaN         NaN           NaN          NaN           NaN
2018-01-04           NaN         NaN           NaN          NaN           NaN
2018-01-05           NaN         NaN           NaN          NaN           NaN
...                  ...         ...           ...          ...           ...
2024-08-12  3.261288e+09  141.483207  5.533143e+06  2562.302700  3.734411e+05
2024-08-13  5.620381e+09  145.903767  6.090432e+06  2727.024610  5.748545e+06
2024-08-14  4.631787e+09  147.076761  2.258491e+06  2655.310982  2.415230e+06
2024-08-15  4.841376e+09  144.089519  3.335774e+06  2669.443426  6.152277e+06
2024-08-16  6.048477e+09  143.202599  4.089993e+06  2539.889221  2.681118e+06

            ...      BORG                     CCC                    STRX  \
            ...     price        volume     price        volume     price
Date        ...
2018-01-01  ...       NaN           NaN       NaN           NaN       NaN
2018-01-02  ...       NaN           NaN       NaN           NaN       NaN
2018-01-03  ...       NaN           NaN       NaN           NaN       NaN
2018-01-04  ...       NaN           NaN       NaN           NaN       NaN
2018-01-05  ...       NaN           NaN       NaN           NaN       NaN
...         ...       ...           ...       ...           ...       ...
2024-08-12  ...  0.170774  1.191376e+06  0.001175  2.388222e+06  0.035756
2024-08-13  ...  0.168182  1.368007e+06  0.001175  3.477056e+06  0.036305
2024-08-14  ...  0.171173  1.357898e+06  0.001176  3.503272e+06  0.035421
2024-08-15  ...  0.165207  1.395437e+06  0.001330  1.374848e+06  0.035522
2024-08-16  ...  0.159102  1.277922e+06  0.001257  3.398741e+05  0.036230

                               ASD                    DEGO
                  volume     price        volume     price        volume
Date
2018-01-01           NaN       NaN           NaN       NaN           NaN
2018-01-02           NaN       NaN           NaN       NaN           NaN
2018-01-03           NaN       NaN           NaN       NaN           NaN
2018-01-04           NaN       NaN           NaN       NaN           NaN
2018-01-05           NaN       NaN           NaN       NaN           NaN
...                  ...       ...           ...       ...           ...
2024-08-12  1.311223e+06  0.038249  1.375196e+06  1.292831  2.102903e+06
2024-08-13  1.162952e+06  0.038441  1.372530e+06  1.309748  1.871447e+06
2024-08-14  1.170412e+06  0.038644  1.371206e+06  1.334206  9.452416e+05
2024-08-15  1.220760e+06  0.038811  1.310905e+06  1.296316  1.293129e+06
2024-08-16  9.792280e+05  0.038479  1.318200e+06  1.250458  1.247894e+06

[2568 rows x 1874 columns]

# Cleaning

In [151]:
price_cols = [col for col in raw.columns if 'price' in col]
coin_price = raw[price_cols]
coin_price.head()

,PEPE,VNST,FDUSD,SOL,ETH,WETH,BTC,USDT,XRP,USDC,...,TITANX,LEE,XEN,DASIA,XRD,BORG,CCC,STRX,ASD,DEGO
,price,price,price,price,price,price,price,price,price,price,...,price,price,price,price,price,price,price,price,price,price
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,14093.606831,NaN,2.31012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,15321.932852,NaN,2.45529,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,NaN,NaN,NaN,NaN,NaN,NaN,15583.885538,NaN,3.12571,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,NaN,NaN,NaN,NaN,NaN,NaN,15976.365194,NaN,3.22005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,NaN,NaN,NaN,NaN,NaN,NaN,18336.922980,NaN,2.93138,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
coin_price.columns = coin_price.columns.droplevel(1)

In [153]:
coin_price.head()

,PEPE,VNST,FDUSD,SOL,ETH,WETH,BTC,USDT,XRP,USDC,...,TITANX,LEE,XEN,DASIA,XRD,BORG,CCC,STRX,ASD,DEGO
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,14093.606831,NaN,2.31012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,15321.932852,NaN,2.45529,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,NaN,NaN,NaN,NaN,NaN,NaN,15583.885538,NaN,3.12571,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,NaN,NaN,NaN,NaN,NaN,NaN,15976.365194,NaN,3.22005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,NaN,NaN,NaN,NaN,NaN,NaN,18336.922980,NaN,2.93138,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
coin_price = coin_price.drop(columns=['TUSD', 'DAI', 'WBTC', 'WETH', 'USDC', 'BSV'])

filtering so we have only coins with ≥ 90% of data points

In [155]:
# Calculate the total number of data points
tot_data_points = len(coin_price)
non_null_points = coin_price.notnull().sum()

thresh= 0.90 * tot_data_points

coin_price = coin_price.loc[:, non_null_points >= thresh]
coin_price.index = pd.to_datetime(coin_price.index, format='%Y-%m-%d')
coin_price.index = coin_price.index.strftime('%Y-%m-%d')
coin_price.head()

,BTC,XRP,BNB,DOGE,ADA,TRX,LTC,LINK,BCH,EOS,...,UTK,PIVX,SYS,REQ,FUN,VIB,NULS,IDEX,MDT,BORG
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,14093.606831,2.31012,8.828099,0.009091,0.747140,0.051654,230.462120,0.751033,2426.970077,7.672278,...,0.467207,10.68950,0.783623,0.867352,0.086325,0.455327,2.267259,NaN,NaN,NaN
2018-01-02,15321.932852,2.45529,9.090393,0.009335,0.807430,0.080893,255.048185,0.689388,2627.026940,9.504036,...,0.647065,11.55500,0.817777,0.809224,0.088933,0.464458,2.510494,NaN,NaN,NaN
2018-01-03,15583.885538,3.12571,9.886323,0.009592,1.075401,0.098107,248.042194,0.704623,2630.511811,10.090184,...,0.896774,10.92360,0.798803,0.795348,0.106564,0.584170,3.696732,NaN,NaN,NaN
2018-01-04,15976.365194,3.22005,9.675758,0.010098,1.179347,0.218139,244.834372,1.036826,2458.894372,11.713284,...,0.874131,10.58120,0.784280,0.826834,0.178514,0.698240,4.788923,NaN,NaN,NaN
2018-01-05,18336.922980,2.93138,16.488523,0.013841,1.077821,0.231673,254.138525,0.996575,2551.321685,9.673192,...,0.762206,9.95117,0.748309,0.761799,0.161191,0.585847,5.659994,NaN,NaN,NaN

In [156]:
coin_price.index.is_unique

False

In [157]:
# coin_price = coin_price[~coin_price.index.duplicated(keep='first')]
coin_price.index = pd.to_datetime(coin_price.index)

# Exporting

In [158]:
coin_price.to_csv('data/coins.csv', index=True)